@model LeaveViewModel
@section Title{
    Leaves
}
<div class="box box-primary">
    <div class="box-header">
        <h3 class="box-title">Leaves</h3>
        <a asp-controller="Leave" asp-action="Create" class="btn btn-primary pull-right"><i class="fa fa-plus" style="padding-right: 5px;"></i>Add New</a>
    </div>
    <div class="box-body">
        <table class="table table-bordered table-hover" id="dataList">
            <thead>
                <tr>
                    <th>Employee Name</th>
                    <th>Leave Date</th>
                    <th>Employee Email</th>
                    <th>Employee Contact</th>
                    <th>Employee Department</th>
                    <th>Employee Designation</th>
                    <th>Leave Details</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Leaves)
                {
                    <tr>
                        <td>@Html.DisplayFor(l => item.User.Name)</td>
                        <td>@Html.DisplayFor(l => item.From)-@Html.DisplayFor(l => item.To)</td>
                        <td>@Html.DisplayFor(l => item.User.Email)</td>
                        <td>@Html.DisplayFor(l => item.User.Mobile)</td>
                        <td>@Html.DisplayFor(l => item.User.Department.Name)</td>
                        <td>@Html.DisplayFor(l => item.User.Designation.Title)</td>
                        <td>
                            @Html.Raw((item.Description.Length > 200 ? item.Description.Substring(0, 200) : item.Description))
                        </td>
                        <td>
                            <a asp-action="Edit" asp-controller="Leave" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                            <a asp-action="Details" asp-controller="Leave" asp-route-id="@item.Id" class="btn btn-success">Details</a>
                            <a asp-action="Delete" asp-controller="Leave" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>